<div id="<%= dom_id sub %>">
  <p>
    <strong>Title:</strong>
    <%= sub.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= sub.description %>
  </p>

  <p>
    <strong>Moderator:</strong>
    <%= sub.moderator_id %>
  </p>

</div>
