<p style="color: green"><%= notice %></p>

<h1>FakeReddit</h1>

<div id="subs">
  <% @subs.each do |sub| %>
    <div class="link">
      <div class="title"><%= link_to sub.title, sub %></div>
    </div>
      <div class="tagline"><%= sub.description %></div>
      <br>
  <% end %>
</div>

<div class="morelink"><%= link_to "Create a new Subreddit", new_sub_path %></div>
