

html {
	height: 100%
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
p,
blockquote,
th,
td,
iframe {
	margin: 0;
	padding: 0
}

table {
	border-collapse: collapse
}

fieldset,
img {
	border: 0
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
	font-style: normal;
	font-weight: normal
}

ol,
ul {
	list-style: none
}

caption,
th {
	text-align: left
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: 100%
}

q:before,
q:after {
	content: ''
}

body {
	font: normal x-small verdana, arial, helvetica, sans-serif;
	background-color: white;
	z-index: 1;
	min-height: 100%
}

textarea {
	font: normal small verdana, arial, helvetica, sans-serif
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
	-webkit-appearance: button;
	cursor: pointer;
	padding: 2px 6px 3px
}

button[disabled],
html input[disabled] {
	cursor: default
}

input[type=hidden] {
	position: absolute
}

h1 {
	font-size: 18px;
	font-weight: normal;
	margin: 10px 0
}

h2 {
	color: #369;
	font-size: 13px
}

h2 a {
	text-decoration: none
}

h2 a:visited {
	color: #336699
}

h2 a:hover {
	text-decoration: underline
}

h3 {
	font-size: 110%
}

a img {
	border: 0 none
}

a {
	text-decoration: none;
	color: #369
}

[hidden] {
	display: none
}

.rounded {
	border-radius: 7px
}

.rounded .morelink {
	border-top-right-radius: 6px
}

div.autosize {
	display: table;
	width: 1px
}

div.autosize>div {
	display: table-cell
}

input.txt {
	background-color: #f7f7f7;
	border: 1px solid #369
}

label.disabled {
	color: gray
}

.wrong {
	color: red;
	font-weight: normal
}

.attention {
	font-weight: bold;
	border: solid 1px #ff6600;
	padding: 3px;
	border-radius: 7px
}

.subform input.text {
	width: 25em
}

.subform textarea.text {
	width: 25em
}

.subform label {
	margin: 0 5px 0 5px
}

.subform td {
	padding: 0px 5px 5px 0
}

.subform td.nopadding {
	padding: 0px
}

.nowrap {
	white-space: nowrap
}

.leftpad {
	padding-left: 1em
}

.nomargin {
	margin: 0px
}

.nopadding {
	padding: 0px
}


.hover a:hover {
	text-decoration: underline
}

.selected,
.choice.primary {
	font-weight: bold
}

.flat-list {
	list-style-type: none;
	display: inline
}

.flat-list li,
.flat-list form {
	display: inline;
	white-space: nowrap
}

.flat-list li a.gold {
	color: #9a7d2e;
	font-weight: bold
}

.flat-list li.selected a {
	color: orangered
}

.link .flat-list {
	display: block;
	padding: 1px 0
}

.link.compressed .flat-list {
	display: inline-block;
	padding: 0 0 1px 0
}

ul.flat-vert {
	text-align: left
}

.flat-vert .separator {
	margin: 0
}

.flat-vert.title {
	font-family: arial, verdana, helvetica, sans-serif;
	color: #777;
	font-size: 18px;
	font-weight: normal;
	margin-bottom: 5px
}

.separator {
	color: gray;
	margin: 0px .7ex 0px .7ex;
	cursor: default
}

.pref-lang {
	font-weight: bold
}

.pref {
	font-weight: bold
}

#jumpToContent {
	position: absolute;
	left: 135px;
	top: 25px;
	font-weight: bold;
	margin-left: -1000px
}

#jumpToContent:focus {
	margin-left: 0!important
}

#header {
	border-bottom: 1px solid #5f99cf;
	position: relative;
	background-color: #cee3f8;
	z-index: 99
}

#header-img {
	margin-top: 2px;
	margin-right: 5px
}

#header-img.default-header {
	text-indent: -9999px;
	background-image: url(sprite-reddit.5kxTB7FXse0.png);
	background-position: 0px -1323px;
	background-repeat: no-repeat;
	height: 40px;
	width: 120px;
	display: inline-block;
	vertical-align: bottom;
	margin-bottom: 3px
}

.premium-banner-outer {
	display: block;
	clear: both;
	overflow: hidden
}

.premium-banner {
	background: white;
	padding: 16px 28px 20px;
	background: #1C2A38;
	position: relative;
	text-align: center
}

.premium-banner::before {
	content: '';
	position: absolute;
	top: 3px;
	bottom: 3px;
	right: 3px;
	left: 3px;
	border: 1px solid white
}

.premium-banner__logo {
	width: 224px;
	height: 40px;
	background: url(../gold/premium/premium-title.png) top center;
	background-size: contain;
	margin: 0 auto 8px
}

@media only screen and (min-resolution:2dppx),
only screen and (-webkit-min-device-pixel-ratio:2) {
	.premium-banner__logo {
		background: url(../gold/premium/premium-title_2x.png) top center;
		background-size: contain
	}
}

.premium-banner__title {
	margin: 0 0 12px;
	color: white;
	font-size: 12px;
	font-weight: 400;
	line-height: 15px;
	text-align: left
}

.premium-banner__button {
	width: 204px;
	height: 32px;
	font-size: 13px;
	font-weight: 700;
	letter-spacing: .5px;
	color: white;
	border: 4px solid #ff4500;
	border-radius: 4px;
	background: #ff4500;
	margin: 0 auto;
	text-transform: capitalize
}

.hohoho-header {
	display: inline-block;
	width: 35px;
	height: 40px;
	overflow: hidden;
	text-indent: -4000px;
	background-image: url(../secret-santa-present.png);
	background-repeat: no-repeat;
	background-position: left center;
	background-size: 35px;
	vertical-align: bottom
}

#header-top {
	position: absolute;
	right: 5px
}

#header-bottom-left {
	font-size: larger
}

#header-bottom-right {
	position: absolute;
	right: 0px;
	bottom: 0px;
	background-color: #EFF7FF;
	padding: 4px;
	line-height: 12px;
	border-top-left-radius: 7px
}



.link.promotedlink {
	border: 1px solid #DDD;
	padding: 5px 0 5px 3px;
	overflow: hidden;
	position: relative
}

.link.promotedlink.promoted,
.link.promotedlink.external {
	background-color: #FBFBFB
}



.link.last-clicked {
	border: 1px dashed gray;
	overflow: hidden
}

.link {
	margin: 0;
	margin-bottom: 8px;
	padding-left: 3px
}

.link .score {
	text-align: center;
	color: #c6c6c6
}

.link .title {
	font-size: medium;
	font-weight: normal;
	margin-bottom: 1px
}

.link .child h3 {
	margin: 15px;
	text-transform: none;
	font-size: medium
}

.rank {
	overflow: hidden
}

.profile-page .link .rank,
.single-page .link .rank {
	display: none
}

.link .midcol {
	font-weight: bold;
	font-size: small
}

.link .score.likes {
	color: #FF8B60
}

.link .score.dislikes {
	color: #9494FF
}

.link .rank {
	float: left;
	margin-top: 15px;
	color: #c6c6c6;
	font-family: arial;
	font-size: medium;
	text-align: right
}

.rank-spacer {
	font-size: medium
}

.midcol-spacer {
	font-size: small
}

.link.compressed {
	margin-bottom: 5px
}

.link.compressed .rank {
	margin-top: 10px
}

.link.compressed .title {
	margin: -2px 0 3px
}

.link.compressed .score {
	color: #888888
}

.link.compressed .score-placeholder {
	height: 3px
}

.link.compressed .subreddit {
	font-weight: bold
}

.link.compressed .tagline,
.link.compressed .search-result-meta {
	display: inline;
	margin-right: 12px
}

.link.compressed .expando-button {
	display: none
}

.score.likes,
.score.dislikes {
	display: none
}

.likes .score,
.dislikes .score {
	display: none
}

.likes .score.likes {
	display: inline
}

.dislikes .score.dislikes {
	display: inline
}

.likes div.score.likes {
	display: block
}

.dislikes div.score.dislikes {
	display: block
}

.warm-entry .rank {
	color: #EDA179
}

.hot-entry .rank {
	color: #E47234
}

.cool-entry .rank {
	color: #A5ABFB
}

.cold-entry .rank {
	color: #4959F7
}

.gadget {
	font-size: x-small
}

.gadget .midcol {
	width: 15px;
	margin: 0
}

.gadget .reddit-link-end {
	clear: left;
	padding-top: 10px
}

.gadget .click-gadget {
	font-size: small
}

.gadget small {
	color: gray
}

.gadget .reddit-entry {
	margin-left: 20px
}

.gadget .right {
	text-align: right
}

.gadget .stamp:first-child {
	margin-left: 0
}

.gadget .score {
	margin-left: 0.5em
}

.comment,
.content .details {
	margin-left: 10px
}

.comment.noncollapsed .numchildren {
	display: none
}

.comment.noncollapsed .usertext,
.comment.noncollapsed .child,
.comment.noncollapsed .buttons {
	display: block
}

.comment.noncollapsed .midcol {
	visibility: visible
}

.comment.noncollapsed .safe-toggle-pref {
	display: inline
}

body.show-controversial .comment.controversial>.entry .score:after {
	content: '†';
	position: relative;
	top: -2px
}

.comment.collapsed {
	padding-bottom: 10px;
	line-height: 14px
}

.comment.collapsed .numchildren {
	display: inline
}

.comment.collapsed .usertext,
.comment.collapsed .child,
.comment.collapsed .buttons {
	display: none
}

.comment.collapsed .midcol {
	visibility: hidden;
	height: 1px
}

.comment.collapsed .tagline,
.comment.collapsed .tagline a,
.comment.collapsed .search-result-meta,
.comment.collapsed .search-result-meta a {
	color: gray
}

.comment.collapsed .tagline :not(.expand),
.comment.collapsed .tagline a :not(.expand),
.comment.collapsed .search-result-meta :not(.expand),
.comment.collapsed .search-result-meta a :not(.expand) {
	font-style: italic
}

.comment.collapsed.collapsed-for-reason .collapsed-reason {
	display: inline
}

.comment.collapsed.collapsed-for-reason .score,
.comment.collapsed.collapsed-for-reason .live-timestamp {
	display: none
}

.comment.collapsed .safe-toggle-pref {
	display: none
}

.admin_takedown {
	background-color: #F7F7F7;
	color: #888888;
	padding: 3px
}

.admin_takedown a:link {
	color: #326699
}

.comment .midcol {
	margin-left: 0px;
	width: 15px
}

.comment .title {
	font-size: small;
	margin-top: 10px
}

.comment .author {
	font-weight: bold
}

.comment .expand {
	margin-right: 3px;
	padding: 1px
}

.comment .child,
.comment .showreplies {
	margin-top: 10px;
	margin-left: 15px;
	border-left: 1px dotted #DDF
}

.comment.collapsed-for-reason .collapsed-reason {
	display: none
}

.comment.deleted>.midcol {
	visibility: hidden
}

.comment .showreplies {
	display: block;
	margin-top: 7px;
	margin-bottom: 15px;
	padding: 5px
}

textarea.gray {
	color: gray
}

.deepthread:after {
	background-image: url(sprite-reddit.5kxTB7FXse0.png);
	background-position: -100px -1696px;
	background-repeat: no-repeat;
	content: " ";
	display: inline-block;
	width: 25px;
	height: 9px;
	margin: 5px 0 0 5px
}

.deepthread a {
	font-size: larger;
	color: #336699
}

.deepthread a:hover {
	text-decoration: underline
}

.morecomments {
	font-size: larger
}

.morecomments a {
	color: #336699
}

.morecomments a:hover {
	text-decoration: underline
}

.morecomments .gray {
	font-weight: normal;
	color: #808080
}

.expand-btn {
	font-size: smaller;
	margin: 0px 5px;
	margin-top: 4px;
	display: inline-block
}

.message.noncollapsed .numchildren {
	display: none
}

.message.noncollapsed .child,
.message.noncollapsed .buttons,
.message.noncollapsed .md {
	display: block
}

.message.noncollapsed .midcol {
	visibility: visible
}

.message.collapsed>.entry .buttons,
.message.collapsed>.entry .md {
	display: none
}

.message.collapsed.threaded .tagline,
.message.collapsed.threaded .tagline a,
.message.collapsed.threaded .search-result-meta,
.message.collapsed.threaded .search-result-meta a {
	color: gray
}

.message.collapsed.threaded .tagline :not(.expand),
.message.collapsed.threaded .tagline a :not(.expand),
.message.collapsed.threaded .search-result-meta :not(.expand),
.message.collapsed.threaded .search-result-meta a :not(.expand) {
	font-style: italic
}

.message.collapsed.threaded .child {
	display: none
}

.message.collapsed .midcol {
	visibility: hidden;
	height: 20px
}

.message {
	padding-left: 5px;
	margin: 10px 10px 20px 5px;
	padding: 7px
}

.message .collapsed .head {
	color: #888888;
	font-style: italic
}

.message .tagline,
.message .search-result-meta {
	color: #485
}

.message.message-parent>.entry,
.message.message-reply>.entry {
	color: #485
}

.message.message-parent>.entry .md,
.message.message-reply>.entry .md,
.message.message-parent>.entry blockquote,
.message.message-reply>.entry blockquote,
.message.message-parent>.entry del,
.message.message-reply>.entry del {
	color: inherit
}

.message.recipient>.entry {
	color: black
}

.message.message-reply.recipient>.entry .head,
.message.message-parent.recipient>.entry .head {
	color: black;
	font-weight: bold
}

.message.color-bar {
	border-left: 5px solid transparent
}

.message .recipient a.author,
.message .sender a.author,
.message .subreddit {
	font-weight: bold
}

.message.new>.entry .head {
	color: orangered;
	font-weight: bold
}

.message.new>.entry {
	background-color: #F7F7F7;
	border: 1px solid #E9E9E9;
	padding: 6px
}

.message.new .unread {
	display: none
}

.message.threaded .child {
	margin-left: 20px;
	border-left: 2px dashed #E7E7E7
}

.message.message-reply:not(.threaded) .entry,
.message.message-parent:not(.threaded) .entry {
	margin-left: 10px;
	border-left: 2px dashed #E7E7E7
}

.message .child .message,
.message .child .usertext {
	margin-top: 10px;
	margin-left: 12px
}

.message.was-comment .child .message,
.message.was-comment .child .usertext {
	margin-top: 0px;
	margin-left: 0px
}

.message .expand {
	margin-right: 3px;
	display: none
}

.message .entry {
	margin-left: 0px
}

.message.message-parent .expand {
	display: inline
}

.message.message-parent .child .message,
.message.message-reply .child .message {
	margin: 0;
	padding: 0
}

.message.message-parent .subject {
	margin-bottom: 10px
}

.message.message-parent .message .subject {
	display: none
}

.message.message-reply .subject {
	display: none
}

.message.message-reply .entry,
.message.message-parent .entry {
	padding-left: 10px;
	padding-bottom: 10px
}

.message .buttons,
.message .md {
	margin-left: 15px
}

.message .entry .parent {
	border: 1px solid #336699;
	max-width: 60em;
	margin: 3px 10px
}

.message .subject .correspondent {
	background-color: #EFF7FF;
	border: 1px solid #336699;
	color: #336699;
	display: inline-block;
	margin-right: 10px;
	padding: 2px 5px
}

.message .subject .reddit .marker-dot {
	border-radius: 50%;
	width: 12px;
	height: 12px;
	float: left;
	margin-top: 2px;
	margin-right: 5px
}

.message .subject .title {
	font-weight: normal;
	font-style: italic;
	margin-left: 10px
}

.message .parent-link {
	margin-left: 12px;
	padding: 0 2px;
	font-weight: bold
}

.message.was-comment .midcol {
	margin-left: 0px
}

.message.was-comment .buttons,
.message.was-comment .parent-link {
	margin-left: 0px
}

.message .parent~.parent-link {
	margin-left: 12px;
	font-weight: normal
}

.message.was-comment .md {
	margin-left: 2px
}

.message .subject {
	font-weight: bold;
	font-size: larger
}

.message.gold {
	font-family: "Bitstream Charter", "Hoefler Text", "Palatino Linotype", "Book Antiqua", Palatino, georgia, garamond, FreeSerif, serif;
	background: url(../gold/tikkit-bg.png);
	max-width: 80em;
	text-align: center;
	padding: 20px;
	border-radius: 4px;
	border: 1px solid #555
}

.message.gold .insignia {
	float: left;
	margin: 6em 20px 0 20px
}

.message.gold .subject {
	font-size: 2.6em;
	line-height: 1.5em;
	text-shadow: -1px -1px 0px rgba(255, 255, 255, 0.8)
}

.message.gold .tagline,
.message.gold .correspondent,
.message.gold .expand-btn,
.message.gold .unread-button,
.message.gold .block-button,
.message.gold .report-button,
.message.gold ul.buttons li.first,
.message.gold .search-result-meta {
	display: none
}

.message.gold .entry {
	margin: 0;
	border: 0
}

.message.gold .md {
	margin: 0;
	margin-bottom: 10px;
	padding: 15px;
	max-width: 100%;
	text-shadow: 0 0 2px #fff;
	border: 0 dashed #000;
	border-width: 1px 0
}

.message.gold .md blockquote {
	border: 0;
	font-size: 0.7em;
	font-style: italic
}

.message.gold .md p {
	font-size: 1.2em;
	line-height: 1.4em
}

.message.gold .usertext-edit {
	margin: 0 auto
}

.message.gold .usertext-buttons {
	text-align: left
}

.message.gold ul.buttons li a {
	font-size: 2em;
	text-shadow: 0 0 3px #fff;
	color: #7a5d0e
}

.message.gold ul.buttons,
.message.gold ul.buttons li {
	margin: 0;
	padding: 0
}

.message.gold.new>.entry {
	background-color: transparent;
	border: 0;
	padding: 0
}

.message.gold-auto blockquote {
	background-color: #fafafa;
	border: 0;
	padding: 4px;
	margin-left: 0;
	margin-top: 1em;
	font-style: italic;
	font-size: 0.8em;
	color: #808080
}

.message.gold-auto blockquote p {
	margin: 2px
}

.message.gold-auto blockquote strong {
	font-style: inherit
}

.clippy img {
	float: left
}

.clippy-bubble {
	background-color: #fffdd7;
	border: solid black 1px;
	width: 350px;
	border-radius: 5px;
	margin-left: 5px;
	margin-bottom: 15px;
	padding: 7px;
	float: left
}

.clippy-headline {
	font-weight: bold;
	margin-bottom: 0.5em
}

.clippy-bubble ul {
	list-style-type: disc;
	list-style-image: url(../clippy-bullet.png);
	padding-left: 15px
}

.clippy-bubble li {
	margin-top: 0.5em
}

.pm_to_admins_prompt {
	color: rgba(0, 0, 0, 0.6);
	display: none;
	font-size: 10px;
	width: 492px
}

.pm_to_admins_promo {
	border: 1px solid #0079d3;
	border-radius: 4px;
	display: none;
	margin: 15px 0;
	padding: 26px 24px;
	width: 450px
}

.pm_to_admins_promo__header {
	font-size: 15px;
	margin-bottom: 5px
}

.pm_to_admins_promo__desc {
	color: rgba(0, 0, 0, 0.7);
	font-size: 11px
}

.pm_to_admins_promo__link {
	font-size: 15px;
	margin-top: 20px;
	text-transform: uppercase;
	text-decoration: none
}

.pm_to_admins_promo__link a {
	color: #0079d3!important
}

.keywords-prompt {
	display: none;
	font-size: 15px;
	padding: 10px 5px 0
}

.link-to-reason {
	color: #3e91e9;
	cursor: pointer
}

.did-you-mean-div {
	padding: 3px 0
}

.determined-reason {
	font-weight: 600
}

.subreddit {
	margin-bottom: 10px
}

.subreddit p {
	margin-top: 0px;
	margin-bottom: 1px
}

.subreddit .description {
	font-size: small;
	max-width: 60em
}

.subreddit .key {
	display: block
}

.subreddit .title {
	font-size: medium;
	margin-right: 5px
}

.subreddit .midcol {
	margin-right: 5px;
	margin-top: 5px;
	text-align: right;
	width: 12em!important
}

.fancy-toggle-button {
	display: block;
	margin-bottom: 5px
}

.fancy-toggle-button .active {
	border: 1px solid #444;
	padding: 1px 6px;
	background: #ffffff none repeat-x scroll center left;
	color: white;
	font-size: 10px;
	font-weight: bold;
	line-height: 20px;
	border-radius: 3px
}

.fancy-toggle-button .remove {
	background-image: url(sprite-reddit.5kxTB7FXse0.png);
	background-position: 0px -182px;
	background-repeat: repeat
}

.fancy-toggle-button .add {
	background-image: url(sprite-reddit.5kxTB7FXse0.png);
	background-position: 0px 0px;
	background-repeat: repeat
}

.fancy-toggle-button .banned {
	background-color: #666;
	padding: 1px 1.9em
}

.commentbody.border {
	background-color: #ffc;
	padding-left: 5px
}

.commentbody.grayed {
	color: gray;
	background-color: #E0E0E0;
	padding-left: 5px
}

.fixedwidth {
	float: left;
	width: 100px;
	height: 0px
}

.clearleft {
	clear: left;
	height: 0px
}

.clear {
	clear: both
}

.sharetable.preftable {
	margin-left: 20px
}

.sharetable.preftable th {
	padding-bottom: 5px;
	padding-top: 5px
}

.sharetable.preftable button {
	margin-top: 10px
}

.preftable.widget-preview {
	font-size: smaller
}

.preftable.widget-preview input[type="text"] {
	width: 150px
}

.preftable #css-options input[type="text"] {
	margin-left: 0px;
	width: 6em
}

.share-summary {
	width: 95%;
	margin-top: 10px
}

.share-summary .head td {
	width: 50%;
	font-size: large;
	text-align: center
}

.share-summary td {
	vertical-align: top
}

.share-summary>tbody>tr>td {
	padding-left: 10px;
	padding-bottom: 10px
}

.share-summary th {
	padding: 5px;
	border-bottom: 1px solid #000
}

.sponsored .entry {
	margin-right: 20px
}

.sponsored .titlerow {
	background: #fcfcfc;
	padding: 10px;
	border-top: #BCBCBC solid 1px;
	border-left: #BCBCBC solid 1px;
	border-bottom: #E0E0E0 solid 1px;
	border-right: #E0E0E0 solid 1px
}

.footer-parent {
	font-size: larger;
	padding-top: 40px;
	clear: both;
	text-align: center
}

.footer {
	color: gray;
	padding: 5px;
	margin: 15px auto;
	border: 1px solid #F0F0F0;
	display: flex;
	display: -webkit-flex;
	max-width: 600px
}

.footer .col {
	display: inline-block;
	vertical-align: top;
	-webkit-flex: 0 0 25%;
	flex: 0 0 25%;
	margin: 10px 0;
	padding: 0 15px;
	border-left: 1px solid #E0E0E0;
	box-sizing: border-box
}
